---
tags: [juris]
---
# Cassation pour défaut de base légale : absence de vérification des obligations de la société

- **juridiction** : Cour de Cassation
- **chambre** : Administrative
- **matiere** : Administrative
- **numero_decision** : 2019/1134
- **date_decision** : 2019-09-20
- **source_url** : https://juriscassation.cspj.ma/Decisions/GetArret?encryptedId=CfDJ8G5jFvNA5rtPrc1UJFRnBfMnlCTWI0YU-E1CbUIsROCJE4M-8FQj49zxMfYbEgD-o_Xa1bc_Y5L5Xk0I5pZZNkmt3QF-nz7qnoQ-07NZfu8wBWL_41paOeyLN5iRC1E23w

- sujet → [[SUJET-0 societe]]
